@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@400;500&display=swap");

* {
  --tw-ring-color: none !important;
}

p,
h1,
h2,
h3,
h4 {
  cursor: default;
}
svg:not(.arrow-right) {
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  color: rgba(0, 0, 0, 0.37) !important;
}

.swiper-button-next {
  color: rgba(0, 0, 0, 0.37) !important;
}

.swiper-button-prev:hover {
  color: rgb(45, 36, 107) !important;
}

.swiper-button-next:hover {
  color: rgb(45, 36, 107) !important;
}

.dropdownStyle {
  background-color: red;
}

.active {
  font-weight: 700;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate .pageClass {
  border: 2px solid gray;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate .pageClass:hover {
  background: #777777;
  transition: ease-in-out 0.3s;
  color: white;
  cursor: pointer;
}

.break {
  border: none !important;
  cursor: default;
}

.break a {
  cursor: default;
}

.prev,
.next {
  /* background-color: red; */
  border: none !important;
}

.tabs-list li:hover {
  border-bottom: 1px solid gray;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

/* Quaries button */
.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button.learn-more {
  width: 14rem;
  height: auto;
}

.button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

.button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #555;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button:hover .circle {
  width: 100%;
}

.button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.button:hover .button-text {
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  color: white;
}

.dropdown-content {
  display: flex;
  position: absolute;
  /* background-color: #f9f9f9; */
  background: none;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding: 0.5rem;
  z-index: 1;
  right: 1px;
  color: black;
  z-index: 1000;
}

.dropdown-content form input {
  text-transform: capitalize;
}

.dropdown-content form input:focus {
  outline: none;
  border: none;
}

.searchBox {
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(
    --gradient-2,
    linear-gradient(90deg, #2af598 0%, #009efd 100%)
  );
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

input {
  --tw-ring-color: none !important;
}

.projects:hover .projects-p {
  bottom: 20px;
}

.projects-p {
  bottom: -200px;
  transition: 0.3s;
}

.tabs {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tabs ul li {
  height: 40px;
  display: flex;
  align-items: center;
}

.buttons button:hover {
  background: none;
  border-radius: 50%;
  box-shadow: none;
  transform: translateY(0);
}

.test-dropdown button {
  color: #1a1a1a;
  background: none !important;
  --tw-ring-color: none !important;
}

.test-dropdown button:hover {
  background: none;
  border-radius: 50%;
  box-shadow: none;
  transform: translateY(0);
  color: rgb(68, 112, 112);
}

.toggle-test:hover,
.toggle-test span:hover,
.toggle-test svg:hover {
  background-color: #1a1a1a !important;
  transform: translateY(0);
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px;
}
