@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4 {
  cursor: default;
}
svg:not(.arrow-right) {
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  color: rgba(0, 0, 0, 0.37) !important;
}

.swiper-button-next {
  color: rgba(0, 0, 0, 0.37) !important;
}

.swiper-button-prev:hover {
  color: rgb(45, 36, 107) !important;
}

.swiper-button-next:hover {
  color: rgb(45, 36, 107) !important;
}

.dropdownStyle {
  background-color: red;
}

.active {
  font-weight: 700;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate .pageClass {
  border: 2px solid gray;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate .pageClass:hover {
  background: #777777;
  transition: ease-in-out 0.3s;
  color: white;
  cursor: pointer;
}

.break {
  border: none !important;
  cursor: default;
}

.break a {
  cursor: default;
}

.prev,
.next {
  /* background-color: red; */
  border: none !important;
}

.tabs-list li:hover {
  border-bottom: 1px solid gray;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  color: white;
}

.dropdown-content {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  z-index: 1;
  right: 1px;
  color: black;
}

.dropdown-content form input {
  text-transform: capitalize;
}
